// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        l-shift {
            bindings = <&kp LSHIFT>;
            key-positions = <12 13>;
            slow-release;
            timeout-ms = <35>;
            require-prior-idle-ms = <120>;
        };

        r-shift {
            bindings = <&kp RSHIFT>;
            key-positions = <16 17>;
            timeout-ms = <35>;
            require-prior-idle-ms = <120>;
            slow-release;
        };

        l-ctrl-shift-alt {
            bindings = <&kp LS(LC(LEFT_ALT))>;
            key-positions = <20 23>;
            timeout-ms = <35>;
            slow-release;
            require-prior-idle-ms = <120>;
        };

        l-alt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <2 3>;
            timeout-ms = <35>;
            slow-release;
            require-prior-idle-ms = <120>;
        };

        r-alt {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <6 7>;
            timeout-ms = <35>;
            slow-release;
            require-prior-idle-ms = <120>;
        };

        l-ctrl {
            bindings = <&kp LCTRL>;
            key-positions = <22 23>;
            timeout-ms = <35>;
            slow-release;
            require-prior-idle-ms = <120>;
        };

        r-ctrl {
            bindings = <&kp RCTRL>;
            key-positions = <26 27>;
            timeout-ms = <35>;
            slow-release;
            require-prior-idle-ms = <120>;
        };

        l-win {
            bindings = <&kp LWIN>;
            key-positions = <13 2>;
            timeout-ms = <35>;
            slow-release;
            require-prior-idle-ms = <120>;
        };

        r-win {
            bindings = <&kp RWIN>;
            key-positions = <16 7>;
            timeout-ms = <35>;
            slow-release;
            require-prior-idle-ms = <120>;
        };

        l-ctrl-alt {
            bindings = <&kp LA(LCTRL)>;
            key-positions = <20 21>;
            timeout-ms = <35>;
            slow-release;
            require-prior-idle-ms = <120>;
        };

        r-ctrl-alt {
            bindings = <&kp RA(RCTRL)>;
            key-positions = <28 29>;
            timeout-ms = <35>;
            slow-release;
            require-prior-idle-ms = <120>;
        };

        l-shift-alt {
            bindings = <&kp LA(LSHFT)>;
            key-positions = <12 1>;
            timeout-ms = <35>;
            slow-release;
            require-prior-idle-ms = <120>;
        };

        r-shift-alt {
            bindings = <&kp RA(RSHIFT)>;
            key-positions = <17 8>;
            timeout-ms = <35>;
            slow-release;
            require-prior-idle-ms = <120>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q  &kp W  &kp E  &kp R        &kp T        &kp Y            &kp U        &kp I      &kp O    &kp P
&kp A  &kp S  &kp D  &kp F        &kp G        &kp H            &kp J        &kp K      &kp L    &kp SEMI
&kp Z  &kp X  &kp C  &kp V        &kp B        &kp N            &kp M        &kp COMMA  &kp DOT  &kp FSLH
                     &lt 1 ENTER  &lt 2 TAB    &lt 4 BACKSPACE  &lt 3 SPACE
            >;
        };

        nav_layer {
            bindings = <
&kp RC(NUMBER_1)  &kp LC(LS(TAB))  &kp LC(TAB)  &kp RC(N9)      &kp LA(G)            &trans    &kp HOME              &kp PAGE_DOWN  &kp PG_UP  &kp END
&kp LEFT_WIN      &kp LEFT_ALT     &kp LCTRL    &kp LEFT_SHIFT  &kp LA(GRAVE)        &kp LEFT  &kp DOWN              &kp UP         &kp RIGHT  &kp ESCAPE
&kp LC(LG(LEFT))  &kp LC(X)        &kp LC(C)    &kp LC(LS(V))   &kp LG(LC(RIGHT))    &trans    &kp LS(LC(NUMBER_1))  &kp LS(SLASH)  &kp SLASH  &kp LS(N7)
                                                &trans          &trans               &kp DEL   &kp LS(LC(NUMBER_2))
            >;
        };

        num_pad {
            bindings = <
&trans        &trans    &trans     &trans     &trans    &kp SLASH     &kp N7  &kp N8  &kp N9  &kp MINUS
&kp LEFT_WIN  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &kp ASTERISK  &kp N4  &kp N5  &kp N6  &kp PLUS
&trans        &trans    &trans     &trans     &trans    &kp DOT       &kp N1  &kp N2  &kp N3  &kp EQUAL
                                   &trans     &trans    &kp ESCAPE    &kp N0
            >;
        };

        sym_layer {
            bindings = <
&kp GRAVE  &trans         &trans        &trans    &trans       &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans   &kp NON_US_BACKSLASH
&kp EXCL   &kp AT         &kp HASH      &kp DLLR  &kp PRCNT    &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SQT  &kp DOUBLE_QUOTES
&kp CARET  &kp AMPERSAND  &kp ASTERISK  &trans    &trans       &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans   &trans
                                        &trans    &trans       &trans  &trans
            >;
        };

        func_layer {
            bindings = <
&trans  &trans      &trans                    &trans                &trans    &trans  &trans  &trans  &trans  &trans
&trans  &kp F2      &kp LC(C_BRIGHTNESS_DEC)  &kp C_BRIGHTNESS_INC  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &kp C_MUTE  &kp C_VOLUME_DOWN         &kp C_VOLUME_UP       &trans    &trans  &trans  &trans  &trans  &trans
                                              &trans                &trans    &trans  &trans
            >;
        };
    };
};
